<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.plugin.compgen.editors.XMLEditor"
            id="org.plugin.compgen.editors.XMLEditor">
      </editor>
   </extension>
         <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
  <hyperlinkDetector            
        class="org.plugin.compgen.hyperlinkdetector.ImpHyperlinkDetector"
        id="org.plugin.compgen.hyperlinkdetector.ImpHyperlinkDetector1"
        name="ImpHyperlinkDetector"
        targetId="org.eclipse.ui.DefaultTextEditor">
  </hyperlinkDetector>
	</extension>
</plugin>
