<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CompGen Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.plugin.compgen.editors.CompGenEditor"
            id="org.plugin.compgen.editors.CompGenEditor">
      </editor>
   </extension>
         <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
  <hyperlinkDetector            
        class="org.plugin.compgen.hyperlinkdetector.ImpHyperlinkDetector"
        id="org.plugin.compgen.hyperlinkdetector.ImpHyperlinkDetector1"
        name="ImpHyperlinkDetector"
        targetId="org.eclipse.ui.DefaultTextEditor">
  </hyperlinkDetector>
	</extension>
   
   <extension id="nature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.plugin.compgen.editors.CompGenNature"/>
      </runtime>
   </extension>

	<extension point="org.eclipse.dltk.core.completionEngine">
	   <completionEngine
	         class="org.plugin.compgen.editors.completion.CGCompletionEngine"
	         nature="org.plugin.compgen.editors.CompGenNature"
	         priority="0">
	   </completionEngine>
	</extension>

	<extension point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
			id="org.eclipse.dltk.ui">
			<scriptCompletionProposalComputer
				class="org.plugin.compgen.editors.completion.CGCompletionProposalComputer"
				categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
				toolkitId="org.plugin.compgen.editors.CompGenEditor.nature">
				<partition type="__dftl_partition_content_type"/>
			</scriptCompletionProposalComputer>
	</extension>

</plugin>
